/*Colors*/
@orange: #d69329;
@grey: #a3a3a3;
@border-menu: #939391;
@black: #2c2c31;
@menu-text: #3d3d3d;
/*End colors*/
/*Size*/
@footer-heigth: 130px;
@doc-width: 1000px;
/*End size*/
/*Url's*/
@img: "../img";
/*End url's*/

.none {
    display: none;
    visibility: hidden;
}

.border-radius (@arguments) {
        -webkit-border-radius: @arguments;
        -moz-border-radius: @arguments;
        border-radius: @arguments;
}

.border-box () {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gradient (@startColor: #eee, @endColor: white, @color2: none, @color3: none) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @color2, @color3, @endColor);
	background: -moz-linear-gradient(top, @startColor, @color2, @color3, @endColor);
	background: -ms-linear-gradient(top, @startColor, @color2, @color3, @endColor);
	background: -o-linear-gradient(top, @startColor, @color2, @color3, @endColor);
}

.box-shadow (@string){
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-image: url("@{img}/main-bg.png");
}
#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;

}
header {
    .gradient(rgba(162, 163, 162, 0.0), rgba(162, 163, 162, 0.5));
    border-bottom: 1px solid #fff;
    .box-shadow(0 0 20px rgba(0,0,0,0.5));
    min-width: @doc-width;
}
#top {
    width: @doc-width;
    margin: 0 auto;
    height: 106px;
    padding: 20px 0;
    .border-box();
}
.logo {
    background-image: url("@{img}/logo.png");
    float: left;
    display: block;
    width: 292px;
    height: 66px;
}
.contactTop {
    float: right;
    display: block;
    width: 250px;
    height: 66px;
    vertical-align: top;
    padding-top: 20px;
    .border-box();

    .custom_contact {
        text-align: left;

        p.title {
            font-size: 90%;
        }
        span.tel-num {
            font-size: 120%;
            font-weight: bold;
            color: @orange;
        }
    }
}
nav.main-menu {
    margin: 30px auto;

    ul {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 15px 4px 17px 0;
        list-style: none;
    }

    ul li {
        display: inline-block;
        position: relative;
        padding: 10px 15px;
        border: 1px solid @border-menu;
        .border-radius(10px);
        .gradient(#dddbdb ,#c2bfbf);
        cursor: pointer;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        z-index: 50;
        font-weight: normal;
        font-size: 16px;

        a {
            text-decoration: none;
            color: @black;
        }

        &.active {
            .gradient(lighten(#dddbdb, 5%), lighten(#c2bfbf, 5%));
        }
    }

    ul li:hover {
        .gradient(lighten(@orange, 15%), @orange);

        &.deeper {
            .border-radius(10px 10px 0 0);
        }
    }

    ul li ul {
        padding: 0;
        position: absolute;
        z-index: 49;
        top: 40px;
        left: -1px;
        width: 200px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;

    }

    ul li ul li {
        display: block;
        border: none;
        .border-radius(0 0 10px 10px);
        background: @orange;
        font-size: 12px;

        &:first-child {
            .border-radius(none);
        }
        &:last-child {
            .border-radius(0 0 10px 10px);
        }

    }
    ul li ul li:hover { .gradient(lighten(@orange, 5%), lighten(@orange, 15%)); }
    ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

#bottom {
    width: @doc-width;
    margin: 0 auto;
    padding: 0 0 20px;

    .flexslider {
        height: 176px;
        .border-radius(10px);
        border: 1px solid transparent;
        background: transparent;
    }
    p.flex-caption {
        .border-radius(0 0 10px 10px);
        background-color: @orange;
        color: #fff;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        opacity:.8;
        text-align: left;
    }
    img {
        height: 176px !important;
        .border-radius(10px);
    }

    .slider {
        width: 690px;
        display: inline-block;
        padding-right: 14px;
        vertical-align: bottom;
    }

    .action {
        width: 290px;
        display: inline-block;
        vertical-align: bottom;
    }
}


main {
    width: @doc-width;
    margin: 20px auto 0;
    padding-bottom: @footer-heigth;

    #wrap {
        display: inline-block;
        vertical-align: top;
        width: 680px;
        padding-right: 14px;

        h1, h2, h3, h4, h5 {
            color: @orange;
        }

        a {
            color: @orange;
        }
        ul > li, ol > li {
            padding-left: 40px;
        }

        .itemListView {
            text-align: justify;
            font-size: 80%;
            line-height: 120%;

            .catItemTitle a {
                font-size: 80%;
            }
        }

        .k2Pagination ul > li {
            padding: 0 5px;
        }

    }
    aside {
        display: inline-block;
        vertical-align: top;
        width: 300px;

        div {
            margin: 10px 0;

            &:first-child {margin-top:0;}
        }

        .moduletable {
            .border-box();
            border: 1px solid @grey;
            .border-radius(10px);
            padding: 15px 0;
            background-color: #f6f6f6;

            h3 {
                background-color: @orange;
                color: #fff;
                text-align: left;
                text-indent: 20px;
                font-weight: normal;
                font-size: 100%;
                padding: 5px 0;
            }

            ul li {
                list-style: none;
                text-align: justify;
                font-size: 80%;
                background: none;
                padding: 10px 10px;

                a {
                    color: @grey;
                    text-decoration: none;
                    padding: 10px 0;
                }

                .moduleItemIntrotext {
                    padding: 10px 0;
                }
            }
        }
    }

    .content {
        border: 1px solid @grey;
        .border-box ();
        .border-radius(10px);
        background-color: #f6f6f6;
        padding: 20px 10px;
        text-align: justify;
    }
}

.moduletable_form {
    h3 {
        &:before {
            display: inline-block;
            content: '';
            width: 41px;
            height: 47px;
            background-image: url('@{img}/subscribe.png');
            vertical-align: middle;
            margin-right: 15px;
        }

        .border-radius (10px);
        border: 1px solid @grey;
        padding: 10px 0;
    }

    .custom_form {
        .border-radius (10px);
        border: 1px solid @grey;
        padding: 10px 0;
        background-color: #f6f6f6;

        #cw-mod-contact-light-clean label {
            text-align: left;
            text-indent: 7px;
        }

        .input, #cw-mod-contact-light-clean .copyme, #cw-mod-contact-light-clean .tos, .cw-mod-contact-light-clean-buttons {
            margin: 0;
        }
        .cw-mod-contact-light-clean-buttons .btn-submit {
            float: none;
            button {
                padding: 5px 10px;
                .border-radius (5px);
                background-color: @orange;
                font-size: 14px;
                border: none;
                &:hover {
                    background-color: lighten(@orange, 10%);
                }
            }
        }
    }
}


footer {
    height: @footer-heigth;
    min-width: @doc-width;
    margin-top: @footer-heigth * -1;
    .gradient (rgba(145, 143, 156, 0.1), #918f9c);
}

.addressFooter, .contactFooter, .counterFooter {
    display: inline-block;
    vertical-align: top;
    width: 90% / 3;
    text-align: left;
    font-size: 70%;
    padding-top: 20px;
    line-height: 130%;
}
